<h4 ng-show="fieldState.showList">User List</h4>
<div ng-show="fieldState.showList" class="aguaDeMariaTable">
    <table>
        <tr>
            <td>User Name</td>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td style="width: 80px"></td>
        </tr>
        <tr ng-repeat="user in userList">
            <td>{{user.UserName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>
                <a ui-sref=".edit({userId: {{user.Id}}})" class="aguaDeMariaSaveButton">Edit</a>
            </td>
        </tr>
        <tr><td colspan="5"><a ui-sref=".new" class="aguaDeMariaSaveButton">New</a></td></tr>
    </table>
</div>
<div ui-view></div>
