<table>
    <tr>
        <td>Start Date :</td>
        <td><input type="text" id="startDate"></td>
        <td>End Date :</td>
        <td><input type="text" id="endDate"></td>
        <td>
            <input type="button" value="Apply Filter" id="dateFilterRefreshButton" />
        </td>
    </tr>
</table>
<script>
    var DateFilter = function () {

        $(document).ready(function () {
            $("#startDate").datepicker();
            $("#startDate").datepicker('setDate', new Date());
            $("#endDate").datepicker();
            $("#endDate").datepicker('setDate', '+1d');
        });


        function getStartDateImpl() {
            var localDate = new Date($("#startDate").val());
            var utcDate = new Date(localDate.getUTCFullYear(), localDate.getUTCMonth(), localDate.getUTCDate(), localDate.getUTCHours(), localDate.getUTCMinutes(), localDate.getUTCSeconds());
            return utcDate.toLocaleDateString() + " " + utcDate.toLocaleTimeString();
        }

        function getEndDateImpl() {
            var localDate = new Date($("#endDate").val());
            var utcDate = new Date(localDate.getUTCFullYear(), localDate.getUTCMonth(), localDate.getUTCDate(), localDate.getUTCHours(), localDate.getUTCMinutes(), localDate.getUTCSeconds());
            return utcDate.toLocaleDateString() + " " + utcDate.toLocaleTimeString();
        }

        function setClickDelegateImpl(clickDelegate) {
            $("#dateFilterRefreshButton").click(clickDelegate);
        }

        return ({
            getStartDate: getStartDateImpl,
            getEndDate: getEndDateImpl,
            setClickDelegate: setClickDelegateImpl
        });
    }();
</script>