<table>
    <tr>
        <td>Start Date :</td>
        <td><input type="text" id="startDate"></td>
        <td>End Date :</td>
        <td><input type="text" id="endDate"></td>
        <td>
            <input type="button" value="Apply Filter" id="dateFilterRefreshButton" />
        </td>
    </tr>
</table>
<script>
    var DateFilter = function () {

        $(document).ready(function () {
            $("#startDate").datepicker();
            $("#startDate").datepicker('setDate', new Date());
            $("#endDate").datepicker();
            $("#endDate").datepicker('setDate', '+1d');
        });


        function getStartDateImpl() {
            var localDate = new Date($("#startDate").val());
            var utcDate = new Date(localDate.getUTCFullYear(), localDate.getUTCMonth(), localDate.getUTCDate(), localDate.getUTCHours(), localDate.getUTCMinutes(), localDate.getUTCSeconds());
            return utcDate.toLocaleDateString() + " " + utcDate.toLocaleTimeString();
        }

        function getEndDateImpl() {
            var localDate = new Date($("#endDate").val());
            var utcDate = new Date(localDate.getUTCFullYear(), localDate.getUTCMonth(), localDate.getUTCDate(), localDate.getUTCHours(), localDate.getUTCMinutes(), localDate.getUTCSeconds());
            return utcDate.toLocaleDateString() + " " + utcDate.toLocaleTimeString();
        }

        function setClickDelegateImpl(clickDelegate) {
            $("#dateFilterRefreshButton").click(clickDelegate);
        }

       function setMonthRangeFromDateImpl(currentDate) {
           var startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
           var yearOfNextMonth = currentDate.getMonth() == 11 ? currentDate.getFullYear() + 1 : currentDate.getFullYear();
           var nextMonth = currentDate.getMonth() == 11 ? 1 : currentDate.getMonth() + 1;
           var endDate = new Date(yearOfNextMonth, nextMonth, 1);
           $("#startDate").datepicker('setDate', startDate);
           $("#endDate").datepicker('setDate', endDate);
       }

        function disableRefreshImpl() {
            $("#dateFilterRefreshButton").attr('disabled', 'disabled');
        }

        return ({
            getStartDate: getStartDateImpl,
            getEndDate: getEndDateImpl,
            setClickDelegate: setClickDelegateImpl,
            setMonthRageFromDate: setMonthRangeFromDateImpl,
            disableRefresh: disableRefreshImpl
        });
    }();
</script>