table {
    tr {
        td.editLabel {
            font-size: small;
            font-weight: bold;
        }
    }
}


.orderPendingColor {
    color: red !important;
}

.orderDeliveredColor {
    color: darkgreen !important;
}

.orderCancelledColor {
    color: GrayText !important;
    font-style: italic !important;
}

.orderPartialPendingColor {
    color: purple !important;
}

.popupDiv {
    width: 450px;

    table {
        width: inherit;
        border-style: solid;
        border-width: 2px;
        border-color: navy;
    }
}
