/* Order Colors */
.orderPendingColor {
    color: red !important;
}

.orderDeliveredColor {
    color: darkgreen !important;
}

.orderCancelledColor {
    color: GrayText !important;
    font-style: italic !important;
}

.orderPartialPendingColor {
    color: purple !important;
}

.popupDiv {
    //width: 410px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-color: Highlight;

    table {
        margin: 0;
    }

    .drHeader {
        background-color: Highlight;
    }
}


.shortEditBox {
    width: 60px !important;
    text-align: right;
}

.validationError {
    padding-top: 10px;
    font-weight: bold;
    color: red;
}

/* Login Section */
.admLogin {
    margin: 5px 0 5px 15px;
    float: right;
    font-size: 0.8em;
    font-weight: 600;

    ul {
        margin: 5px 0 5px 15px;
        padding: 0;
        text-align: right;

        li {
            display: inline;
            list-style: none;
            padding-left: 5px;
            padding-right: 5px;

            a {
                background: none;
                color: navy;
            }

            a:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }

    a {
        display: inline;
        background: none;
        color: navy;
    }

    form {
        padding-left: 5px;
        border-left: solid;
        border-width: 2px;
        display: inline;
    }
}

/* form font size*/
div#newPopupDialog {
    form {
        font-size: 0.8em;

        table {
            width: 100%;

            td {
                padding-top: 5px;

                select {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }
        }
    }
}

/* grid icons spacing */
.jqgrow {
    td {
        a {
            padding-left: 10px;
        }
    }
}

.inventoryDetailSummary {
    font-size: 0.8em;
    padding-bottom: 10px;
}

.reportNavigationContainer {
    float: left;
}

ul.admTopNavigation {
    li {
        ul {
            padding: 2px;
            position: absolute;
            top: 13px;
            left: 0;
            width: 150px;
            -webkit-box-shadow: 5px 5px 2px #888888;
            -moz-box-shadow: 5px 5px 2px #888888;
            box-shadow: 5px 5px 2px #888888;
            display: none;
            opacity: 0;
            visibility: hidden;
            border: 1px solid;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background: #fff;

            li {
                padding: 5px;
                display: block;
                color: #fff;
                text-align: left;
                font-size: 0.85em;
                font-weight: 600;
                font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            }

            li:hover {
                background: #ddd;
            }
        }
    }

    li:hover {
        ul {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}

.mainHomeInfo {
    div {
        h1 {
            margin: 0;
        }
    }
}

//Table Style
.aguaDeMariaTable {
    margin: 0px;
    padding: 0px;
    width: 1000px;
    box-shadow: 5px 5px 3px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.aguaDeMariaTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.aguaDeMariaTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.aguaDeMariaTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.aguaDeMariaTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.aguaDeMariaTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.aguaDeMariaTable tr:hover td {
}

.aguaDeMariaTable tr:nth-child(odd) {
    background-color: #aad4ff;
}

.aguaDeMariaTable tr:nth-child(even) {
    background-color: #ffffff;
}

.aguaDeMariaTable td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.aguaDeMariaTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.aguaDeMariaTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.aguaDeMariaTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.aguaDeMariaTable tr:first-child td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top,#005fbf,003f7f);
    background-color: #005fbf;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.aguaDeMariaTable tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top,#005fbf,003f7f);
    background-color: #005fbf;
}

.aguaDeMariaTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.aguaDeMariaTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.aguaDeMariaSaveButton {
	-moz-box-shadow: 2px 2px 4px 0px #9ba399;
	-webkit-box-shadow: 2px 2px 4px 0px #9ba399;
	box-shadow: 2px 2px 4px 0px #9ba399;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4579c7), color-stop(1, #2aa7bd));
	background:-moz-linear-gradient(top, #4579c7 5%, #2aa7bd 100%);
	background:-webkit-linear-gradient(top, #4579c7 5%, #2aa7bd 100%);
	background:-o-linear-gradient(top, #4579c7 5%, #2aa7bd 100%);
	background:-ms-linear-gradient(top, #4579c7 5%, #2aa7bd 100%);
	background:linear-gradient(to bottom, #4579c7 5%, #2aa7bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4579c7', endColorstr='#2aa7bd',GradientType=0);
	background-color:#4579c7;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #196cab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.aguaDeMariaSaveButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2aa7bd), color-stop(1, #4579c7));
	background:-moz-linear-gradient(top, #2aa7bd 5%, #4579c7 100%);
	background:-webkit-linear-gradient(top, #2aa7bd 5%, #4579c7 100%);
	background:-o-linear-gradient(top, #2aa7bd 5%, #4579c7 100%);
	background:-ms-linear-gradient(top, #2aa7bd 5%, #4579c7 100%);
	background:linear-gradient(to bottom, #2aa7bd 5%, #4579c7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aa7bd', endColorstr='#4579c7',GradientType=0);
	background-color:#2aa7bd;
}
.aguaDeMariaSaveButton:active {
	position:relative;
	top:1px;
}

.userDetails{
    legend{
        font-weight:bold;
    }

    label{
        margin-top:3px;
        margin-right:5px;
        width: 120px;
        text-align:right;
        float:left;
        font-size: 12px;
        font-weight:bold;
    }

    input{
        width:300px;
    }
    margin-bottom:10px;
}

.userDetailErrorMessage{
    clear:both;
    display:inline-block;
    color:red;
    font-size:10px;
    font-style:italic;
}

.userEditButtonControls {
    clear: both;
    display: inline-block;
    float: left;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

//word wrap
th.ui-th-column div {
    word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow: hidden;
    height: auto !important;
    vertical-align: middle;
}