<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MessageBrokerContext" connectionString="metadata=res://*/CABEntity.csdl|res://*/CABEntity.ssdl|res://*/CABEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNDCM05995V05B\DMS_MAIN2_DEV;initial catalog=MessageBroker_TEST;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketDataContext" connectionString="metadata=res://*/MarketData.csdl|res://*/MarketData.ssdl|res://*/MarketData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIT-COMET-DB-DEV\LF4_MAIN3_DEV;initial catalog=COMET_MarketData_DEV;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>