@{
    ViewBag.Title = "Delivery Receipt List";
}

@Html.Partial("_DateFilter")
<table id="deliveryList"></table>
<div id="deliveryListPager"></div>
<div id="newPopupDialog" style="display: none">This is where the new Orders Dialog goes</div>

<script>
    var deliveryReceiptGrid = function (dateFilter) {
        function showDeliveriesGridImpl(startDate, endDate) {
            var url = "/Delivery/GetDeliveryReceiptList?startDate=" + startDate + "&endDate=" + endDate;
            jQuery("#deliveryList").jqGrid({
                url: url,
                datatype: "json",
                colNames: ['DR Id', 'Customer', 'DR Number', 'DR Date', 'Order Number', 'Slim', 'Round', 'Actions'],
                colModel: [
                        { name: 'DeliveryReceiptId', key: true, index: 'DeliveryReceiptId', width: 75, hidden: true, sorttype: 'int' },
                        { name: 'CustomerName', index: 'CustomerName', width: 100 },
                        { name: 'DRNumber', index: 'DRNumber', width: 50 },
                        { name: 'DRDate', index: 'DRDate', width: 50, formatter: 'date', formatoptions: { srcformat: 'm/d/Y H:i', newformat: 'm/d/Y H:i' } },
                        { name: 'OrderNumber', index: 'OrderNumber', width: 50 },
                        { name: 'SlimQty', index: 'SlimQty', width: 75, align: "right" },
                        { name: 'RoundQty', index: 'RoundQty', width: 75, align: "right" },
                        { name: 'editAction', index: 'editAction', width: 40, sortable: false }],
                sortname: 'OrderId',
                viewrecords: true,
                ignoreCase: true,
                pager: '#deliveryListPager',
                sortorder: "asc",
                caption: "Delivery List",
                width: 1200,
                height: "100%",
                loadonce: true,
                gridComplete: function () {
                    //setup the custom
                    var grid = $("#deliveryList");
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];
                        var editAction = "<a class='fa fa-edit' href='#' title='Edit'  onclick='deliveryReceiptGrid.deliveryEdit(" + rowId + ")'></a>";
                        grid.jqGrid('setRowData', rowId, { editAction: editAction });
                    }
                },
                loadComplete: function () {
                    //update the rowcolors
                }
            });
            //show the Navigator
            jQuery("#deliveryList")
                .jqGrid('navGrid', '#deliveryListPager', { edit: false, add: false, del: false })
                .navButtonAdd('#deliveryListPager', {
                    caption: "",
                    buttonicon: "ui-icon-plus",
                    onClickButton: function () {
                        newDelivery(null);
                    },
                    position: "last",
                    title: "New Delivery",
                    cursor: "pointer"
                });
        }

        function newDelivery() {
            var url = "/Delivery/DeliveryEditor";
            $.ajax({
                url: url,
            }).success(function (data) {
                $("#newPopupDialog").html(data);
                showDrDialog("Delivery Receipt");
            });
        }

        function showDrDialog(title) {
            $("#newPopupDialog").dialog({
                modal: true,
                title: title,
                buttons: [{
                    text: "Save",
                    click: function () {
                        //submit the form
                        $.ajax({
                            type: "POST",
                            url: "/Delivery/SaveDeliveryReceipt",
                            data: $("#drEntryForm").serialize(),
                            context: $(this)
                        }).success(function (data) {
                            if (typeof (data.OrderId) == 'undefined') {
                                //replace the contents of the dialog
                                $("#newPopupDialog").html(data);
                            } else {
                                //this must have been successful
                                var row = $("#deliveryList").jqGrid('getRowData', data.DeliveryReceiptId);
                                if (typeof (row.DeliveryReceiptId) == 'undefined') {
                                    $("#deliveryList").jqGrid('addRowData', data.DeliveryReceiptId, data, "first");
                                } else {
                                    $("#deliveryList").jqGrid('setRowData', data.DeliveryReceiptId, data);
                                    $("#deliveryList").jqGrid().trigger("reloadGrid");
                                }
                                //this must have been successful
                                $(this).dialog("close");

                            }
                        });
                    }
                }]
            }).dialog("open");
        }

        function deliveryEditImpl(deliveryId) {
            var url = "/Delivery/DeliveryEditor";
            $.ajax({
                url: url,
                data: { DeliveryId: deliveryId},
            }).success(function (data) {
                $("#newPopupDialog").html(data);
                showDrDialog("Edit Delivery");
            });
        }

        $(document).ready(function () {
            $("#newPopupDialog").dialog({
                width: 500,
                height: 450,
                autoOpen: false
            });

            var startDate = dateFilter.getStartDate();
            var endDate = dateFilter.getEndDate();

            //show the grid
            deliveryReceiptGrid.showDeliveriesGrid(startDate, endDate);

            dateFilter.setClickDelegate(showDeliveryGrid);
            showDeliveryGrid();

        });

        function showDeliveryGrid() {
            var startDate = dateFilter.getStartDate();
            var endDate = dateFilter.getEndDate();
            var url = "/Delivery/GetDeliveryReceiptList?startDate=" + startDate + "&endDate=" + endDate;

            jQuery("#deliveryList").jqGrid().setGridParam({
                datatype: 'json',
                page: 1,
                url: url
            }).trigger("reloadGrid");
        }

        return ({
            showDeliveriesGrid: showDeliveriesGridImpl,
            deliveryEdit: deliveryEditImpl
        });
    }(DateFilter);



</script>