@{
    ViewBag.Title = "Aqua Kesh";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Aqua Kesh Purified Water Station visit us at .
                We are giving special prices and discounts to dealers subject to conditions. If you have any questions, please call or SMS us at .
                You may also send your inquires to <a href="mailto:marialyn.benitez@yahoo.com.ph">Marialyn Benitez</a>.
            </p>
        </div>
    </section>
}
<!--<h3>We suggest the following:</h3>-->
<ol class="round">
    <li class="one">
        <h5>The Taste of Natural Fresh Water</h5>
        Purified using our process inclduing Sand Filtration, Activated Carbon Filtration, Regenerable Water Softener,
        Reverse Osmosis, Ozonization Carbon Filter, 20'5 Micron Filtration, UV Sterilization,
        Utilizes State of the Art "21 Stages" per DOH and BFAD Guidelines.
    </li>
</ol>

