@{
    ViewBag.Title = "Daily Summary";
}
<table id="list"></table>
<div id="pager"></div>
<script>
    var dailySummariesGrid = (function () {

        function showImpl() {
            var url = "/DailySummary/List";
            jQuery("#list").jqGrid({
                url: url,
                datatype: "json",
                colNames: ['Date', 'Day', 'Slim', 'Round', 'Slim', 'Round','Total', 'Slim', 'Round', 'Total', 'Unit Price', 'Collection', 'Slim', 'Round',''],
                colModel: [
                        { name: 'Date', key: true, index: 'Date', width: 30, sorttype: 'date', formatter: 'date', formatoptions: { srcformat: 'm/d/Y', newformat: 'M-d-Y' } },
                        { name: 'Day', index: 'Day', align: "center", width: 20},
                        { name: 'SlimOrderQty', index: 'SlimOrderQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'RoundOrderQty', index: 'RoundOrderQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'SlimDeliveredQty', index: 'SlimDeliveredQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'RoundDeliveredQty', index: 'RoundDeliveredQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'TotalDeliveredQty', index: 'TotalDeliveredQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'SlimDeliveredAmt', index: 'SlimDeliveredAmt', width: 35, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                        { name: 'RoundDeliveredAmt', index: 'RoundDeliveredAmt', width: 35, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                        { name: 'TotalDeliveredAmt', index: 'TotalDeliveredAmt', width: 35, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                        { name: 'UnitPrice', index: 'UnitPrice', width: 25, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                        { name: 'CollectionAmount', index: 'CollectionAmount', width: 35, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                        { name: 'SlimPickupQty', index: 'SlimPickupQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'RoundPickupQty', index: 'RoundPickupQty', align: "right", width: 20, sorttype: 'int' },
                        { name: 'editAction', index: 'editAction', align: "right", width: 5 }
                        ],
                sortname: 'CustomerName',
                viewrecords: true,
                ignoreCase: true,
                pager: '#pager',
                sortorder: "asc",
                caption: "Daily Summary",
                width: 1100,
                height: "100%",
                loadonce: true,
                rowNum: 50,
                gridComplete: function () {
                    //setup the custom
                },
                loadComplete: function () {
                    $("#loadingIndicator").hide();
                }
            });
            //show the Navigator
            jQuery("#list")
                .jqGrid('navGrid', '#pager', { edit: false, add: false, del: false });

            //show multiple headers
            jQuery("#list").jqGrid('setGroupHeaders', {
                useColSpanStyle: false,
                groupHeaders: [
                  { startColumnName: 'SlimOrderQty', numberOfColumns: 2, titleText: 'Order Quantity' },
                  { startColumnName: 'SlimDeliveredQty', numberOfColumns: 3, titleText: 'Delivered Quantity' },
                  { startColumnName: 'SlimDeliveredAmt', numberOfColumns: 3, titleText: 'Delivered Amount' },
                  { startColumnName: 'SlimPickupQty', numberOfColumns: 2, titleText: 'Pickup Quantity' }
                ]
            });
        }

        return ({
            show: showImpl
        });
    })();

    $(document).ready(function () {
        //show the grid
        dailySummariesGrid.show();
    });
</script>
