<html>
    <head>
        <title></title>
    </head>
    <body>
        <section id="header" style="text-align:center">
            <h3>Aqua Kesh Water Station</h3>
            <h5>Buhay na Tubig, Imus, Cavite</h5>
            <br/><br/>
            <h3>Delivery Receipt</h3>
        </section>
    </body>
</html>