@using Newtonsoft.Json
@model IEnumerable<AguaDeMaria.Model.Customer>
@{
    ViewBag.Title = "Customer";
}

<h2>Customer List</h2>
<div id="loadingIndicator">Loading...</div>
<table id="customerList"></table>
<div id="customerListPager"></div>
<div id="newCustomerDialog" style="display: none">This is where the new Customer Dialog goes</div>
<script>
    var customerGrid = (function () {

        function customerEdit(id) {
            var url = "/Customer/CustomerEditor";
            $.ajax({
                url: url,
                data: { customerId: id }
            }).success(function (data) {
                $("#newCustomerDialog").html(data);
                showCustomerDialog();
            })
        }

        function customerDelete(id) {
            alert('Are you sure you want to delete customer?');
        }

        function showCustomerDialog() {
            $("#newCustomerDialog").dialog({
                modal: true,
                title: 'Customer',
                buttons: [{
                    text: "Save",
                    click: function () {
                        //submit the form
                        $.ajax({
                            type: "POST",
                            url: "/Customer/SaveCustomer",
                            data: $("#customerEntryForm").serialize()
                        }).success(function (data) {
                            alert("Saved the customer: " + data.CustomerId);
                            //update the grid
                            $("#customerList").jqGrid('setRowData', data.CustomerId, data);
                        });
                        $(this).dialog("close");
                    }
                }]
            }).dialog("open");
        }

        function showCustomerGrid() {
            var url = "/Customer/GetCustomerList";
            jQuery("#customerList").jqGrid({
                url: url,
                datatype: "json",
                colNames: ['Customer Id', 'Customer Code','Customer Name', 'Type', 'Address', 'Actions'],
                colModel: [
                        { name: 'CustomerId', key: true, index: 'CustomerId', width: 75, sorttype: 'int' },
                        { name: 'CustomerCode', index: 'CustomerCode', width: 110 },
                        { name: 'CustomerName', index: 'CustomerName', width: 110 },
                        { name: 'CustomerTypeName', index: 'CustomerTypeName', width: 140 },
                        { name: 'Address', index: 'Address', width: 250 },
                        { name: 'editAction', index: 'editAction', width: 75, sortable: false }],
                sortname: 'CustomerName',
                viewrecords: true,
                sortorder: "asc",
                caption: "Customer List",
                width: 1200,
                height: "100%",
                loadonce: true,
                gridComplete: function () {
                    //setup the custom
                    var grid = $("#customerList");
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];
                        var editAction = "<a class='fa fa-edit' href='#' onclick='customerGrid.customerEdit(" + rowId + ")'></a>";
                        var deleteAction = "<a class='fa fa-cut' href='#' onclick='customerGrid.customerDelete(" + rowId + ")'></a>";
                        grid.jqGrid('setRowData', rowId, { editAction: editAction + deleteAction });
                    }
                },
                loadComplete: function () {
                    $("#loadingIndicator").hide();
                }
            });
        }

        return ({
            customerEdit: customerEdit,
            showCustomerDialog: showCustomerDialog,
            showCustomerGrid: showCustomerGrid,
            customerDelete: customerDelete
        });
    })();

    $(document).ready(function () {
        $("#newCustomerDialog").dialog({
            width: 700,
            height: 400,
            autoOpen: false
        });
        $('#newCustomer').on('click', function () {
            customerGrid.customerEdit();
        });
        //show the grid
        customerGrid.showCustomerGrid();
    });
</script>
