@{
    ViewBag.Title = "Orders";
}
<table id="orderList"></table>
<div id="orderListPager"></div>
<div id="newPopupDialog" style="display: none">This is where the new Orders Dialog goes</div>
<script>
    var ordersGrid = function () {
        function showOrdersGrid() {
            var url = "/Order/GetOrderList";
            jQuery("#orderList").jqGrid({
                url: url,
                datatype: "json",
                colNames: ['Order Id','Customer', 'Order Number', 'Order Date', 'Slim', 'Round', 'Status','Actions'],
                colModel: [
                        { name: 'OrderId', key: true, index: 'OrderId', width: 75, hidden: true, sorttype: 'int' },
                        { name: 'CustomerName', index: 'CustomerName', width: 100 },
                        { name: 'OrderNumber', index: 'OrderNumber', width: 50 },
                        { name: 'OrderDate', index: 'OrderDate', width: 50, formatter: 'date', formatoptions: { srcformat: 'm/d/Y H:i', newformat: 'm/d/Y H:i' } },
                        { name: 'SlimQty', index: 'SlimQty', width: 75, align: "right" },
                        { name: 'RoundQty', index: 'RoundQty', width: 75, align: "right" },
                        { name: 'OrderStatus', index: 'OrderStatus', width: 50 },
                        { name: 'editAction', index: 'editAction', width: 40, sortable: false }],
                sortname: 'OrderId',
                viewrecords: true,
                ignoreCase: true,
                pager: '#orderListPager',
                sortorder: "asc",
                caption: "Order List",
                width: 1200,
                height: "100%",
                loadonce: true,
                gridComplete: function () {
                    //setup the custom
                    var grid = $("#orderList");
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];
                        var editAction = "<a class='fa fa-edit' href='#' title='Edit'  onclick='ordersGrid.orderEdit(" + rowId + ")'></a>";
                        var orderAction = "<a class='fa fa-book' href='#' title='New Order' onclick='ordersGrid.newOrder(" + rowId + ")'></a>";
                        grid.jqGrid('setRowData', rowId, { editAction: editAction + orderAction });
                    }
                },
                loadComplete: function () {
                    $("#loadingIndicator").hide();
                }
            });
            //show the Navigator
            jQuery("#orderList")
                .jqGrid('navGrid', '#orderListPager', { edit: false, add: false, del: false })
                .navButtonAdd('#orderListPager', {
                    caption: "",
                    buttonicon: "ui-icon-plus",
                    onClickButton: function () {
                        customerEdit(null);
                    },
                    position: "last",
                    title: "New Order",
                    cursor: "pointer"
                });
        }

        return ({
            showOrdersGrid: showOrdersGrid
            });
    }();

    $(document).ready(function () {
        $("#newPopupDialog").dialog({
            width: 500,
            height: 400,
            autoOpen: false
        });

        //show the grid
        ordersGrid.showOrdersGrid();
    });
</script>